{% load static %}

<div class="header">
    <nav>
        <div></div>
        <div class="logo-container">
        <a href="{% url 'index' %}">
            <img src="{% static 'logo3.png' %}" alt="Home" width="250" height="70">
        </div>
        {% if user.is_authenticated %}
            <a class="menu-button" href="{% url 'all_tasks' %}">View tasks</a>
            <a class="menu-button" href="{% url 'calculator' %}">Calculator</a>
            <a class="menu-button" href="{% url 'all_results' %}">View Results</a>
            <a class="menu-button" href="{% url 'edit_profile' %}">View Profile</a>
            {% if is_teacher %}
            <a class="menu-button" href="{% url 'add_task' %}">Create task</a>
            <a class="menu-button" href="{% url 'user_list' %}">View Users</a>
            {% endif %}
            <a class="menu-button" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="menu-button" href="{% url 'login' %}">Login</a>
            <a class="menu-button" href="{% url 'register' %}">Register</a>
        {% endif %}
        <body class="light">
            <input type="checkbox" id="toggle">
        
            <label class="toggle" for="toggle">
                <i class="bx bxs-sun"></i>
                <i class="bx bx-moon"></i>
                <span class="ball"></span>
            </label>
    </nav> 
</div>