{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="edit-task-page">
    <h1>Edit Post</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ task.title }}"><br>
        {% for qa in question_answers %}
        <label for="question">Question:</label>
        <textarea id="question" name="question">{{ qa.question }}</textarea><br>
        <label for="answer">Answer:</label>
        <textarea id="answer" name="answer">{{ qa.answer }}</textarea><br>
        {% endfor %}
        <button type="submit">Save Changes</button>
        <a class="menu-button" href="{% url 'view_task' task.id %}">Cancel</a>
    </form>   
</div>
{% endblock %}
